body {
  background: linear-gradient(#637d9e, #f7d8d7);
}
h3 {
    text-align: center;
    font-size: 83px;
    margin-top: 30px;
    font-family: "Black Han Sans", sans-serif;
}
h1 {
    text-align: center;
    font-size: 63px;
    margin-top: 10px;
    font-family: "Black Han Sans", sans-serif;
}
h2 {
    text-align: center;
    margin-top: 10px;
    font-family: "Kufam", sans-serif;
}
ul {
    margin-top: 30px;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
p {
    padding: 12px;
}
.accomodations-list {
    font-size: 23px;
}
.sensory-profile-list {
    font-size: 24px;
}
.seeking-paragraph {
    font-size: 18px;
}
.avoidant-paragraph {
    font-size: 18px;
}
section {
    text-align: center;
}
img {
    border-radius: 80px;
}
.r3-image {
    text-align: center;
    margin-top: 30px;
}
@media (max-width: 1400px) {
    h1 {
        font-size: 38px;
        margin-top: 10px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 68px;
    }
    p {
        font-size: 13px;
        padding: 12px;
    }
   
}